html{
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display:none;  
  }

*{
box-sizing: border-box; 
}

body{
    overflow-x: hidden;
    background-color: rgb(138, 89, 30);
}

.place{
    display:none;
}

.print-not-available-message{
    margin : 20px;
    
}

.print-not-available-message a{
    padding-left :50px;
   text-decoration: none;
   color:rgb(57, 198, 198);
   transition : font-size .2s;
    
}
.print-not-available-message a:hover{

text-decoration: underline;  
 }